*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}
.location{
    font-size:1rem;
    text-align: center;
}
body {
  margin: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #424242;
  background-color: #FFFEFE;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 1000vh;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.logo_text{
    background: linear-gradient(50deg, #fb3c00, #ffb800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700 !important;
    font-size: 1.728rem !important;
    margin-left: 0.5rem !important;
}
header{
    background-color: white;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    box-shadow: 0px 2px 16px hsla(220, 32%), 8%, .3;
    z-index: 2;
}
.container
.nav_data{
    height:100%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding-block: 0.5em;
    padding-inline: 1em;
    
}
li{
    display: inline;
}

.nav_logo {
    font-weight: initial;
    color: #212121;
    font-size: 1.25em;
    font-weight: 500;
    }
.nav_logo{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    color: #212121;
    font-size: 1.5em;
    font-weight: 600;
}
.nav_toggle{
    position: relative;
    width: 32px;
    height: 32px;
}
.nav_link{
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    color: #5b5b5b;
    font-size: 18px;
    font-size: 1.2em;
    font-weight:600;
}
.nav_link:hover{
    color: var(--primary);
}


.nav_burger , .nav_close{
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size:2rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}
.nav_close{
    opacity:0;
}
#search:focus{
    border:3px solid #ffe3a5;
    outline: #ffe3a5;
}
.input_icons i{
    position: absolute;
    padding: 10px;
    color: #FFB30E;
    vertical-align: middle;
}
.input_icons{
    display: inline;
}
.input_search{
    padding: 10px 10px 10px 30px ;
    border: none;
    background: #FCFCFC;
    vertical-align: middle;
    border-radius: 0.5em;
    display: inline;
    font-weight: 400;
    line-height: 1.5;
    color: #424242;
    transition: outline 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.input_submit{
    background: #FCFCFC;
    display: inline-block;
    font-weight: 700;
    line-height: 1.5;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 2.2rem;
    font-size: 1rem;
    border-radius: 0.2rem;
    border: none;
    display: inline;
    color: #FFB30E;
    box-shadow: 0 0 3rem 0 rgba(255, 179, 14, 0.3);
}
.input_submit:hover{
    cursor: pointer;
}
.location i{
    color: #FFB30E;
}
.hero{
    background-color: #FFB30E !important;
    padding-top: 10rem !important;
    overflow: hidden !important;
    height: 100vh;
    justify-content: center;
    display: flex;
    gap:100px;
}
.hero_container{

}
.input_icons i{
    position: absolute;
    padding: 10px;
    color: #FFB30E;
    vertical-align: middle;
}
@keyframes change{
    
    0%{opacity: 0%;}
    13%{content: "Are you Starving?";opacity: 100%; }
    26%{opacity: 0%; }
    43%{ content: "Ṣé ebi ń pa ẹ́?"; opacity: 100%;}
    57%{opacity: 0%;}
    73%{content: "Kana ji yunwa?";opacity: 100%; }
    87%{opacity: 0%;}
    100%{content: "Agụụ na-agụ gị?";opacity: 100%; }
    
}
.hero_text{
    width: 40vw;
}
.hero_text_1::after{
    content: "Are you Starving?";
    position: relative;
    color:white;
    animation-name:change;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration:8s;
    font-size: 3.7rem;
}
.hero_text_2{
    font-weight: 700;
    line-height: 1.2;
    color: #616161;
    font-size: 2.0736rem;
    margin-bottom: 3rem;
    margin-top: -20px;
}
.hero_img{
    max-width: 110%;
    max-height: 110%;
    vertical-align: middle;
    transition: all 0.5s ease-in-out;
}
.hero_img:hover{
    transform: translateY(-3em);
}
.hero_card_btn{
    border-bottom: 1px solid #EEEEEE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #424242;
    text-align: left;
}
.hero_card_btn button{
    background: none;
    border: 1px solid transparent;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin-bottom: 1rem;
    display: block;
  
    isolation: isolate;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    color: #757575;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.hero_card_btn button:hover{
    color: black;
    border-color: #F5F5F5 #F5F5F5 #EEEEEE;
}
.hero_card_btn button:focus{
    color: #F17228;
    background-color: rgba(241, 114, 40, 0.15);
    border-color: transparent;
}

.hero_card_btn i{
    margin-right: 0.5rem;
}
.hero_card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 30em;
    word-wrap: break-word;
    background-color: #FFFEFE;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
    text-align: left;
    padding: 1rem;
}
.hero_form{
    margin-top: 1em;

}
.hero_icon{
    display: inline;
}
.hero_loc{
    padding: 10px;
    vertical-align: middle;
    border: 0 solid #E0E0E0;
    border-radius: 0.25rem;
    width: 65%;
    padding: 0.5rem 2.2rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #424242;
    background-color: #F5F5F5;
}
.hero_icons i{
    position: absolute;
    padding: 10px;
    color: #FFB30E;
    vertical-align: middle;
}
.hero_icons{
    display: inline;
}
.hero_icons input{

}
.hero_sumbit{
    color: #FFFEFE;
    background-color: #F17228;
    border-color: #F17228;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.5rem 2.2rem;
    font-size: 1rem;
    border-radius: 0.2rem;
}
.hero_sumbit:hover{
    cursor: pointer;
    background-color: #d35811;
    border-color: #d35811;
}
.disc_card img{
    border-radius: 1rem !important;
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
}
.disc_img_card{
    max-width: 17em;
    height: 100%;
    position: relative;
    text-align: center;
    --bs-gutter-x: .5rem;
}
.disc_card{
    width: inherit;
    height: fit-content;
}
.card_text{
    position: absolute;
    bottom:0px;
    left: 0px;
    border-radius: 0 1.25rem 0 1rem;
    line-height: 0.8125rem;
    background-color: #FFB30E !important;
    padding: 1.8rem !important;
    display: inline-block;
    font-size: em;
    font-weight: 700;
    color: #FFFEFE;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    display: flex;
    
}
.card_text div:first-child{
    line-height: 0.8125rem;
    font-size: 3.58318rem;
    
}
.card_text div:last-child{
    font-size: 1.44rem;
    place-self: center;
}
.card_text div:last-child div{
    font-weight: 400 !important;
    font-size: 1.2rem !important;
    margin-top: 0.2rem !important;
}
.disc_card_text{
    width: 70%;
}
.disc_card_text div:first-child{
    color: #212121 !important;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #212121;
}
.disc_card_text div:last-child{
    line-height: 0.8125rem;
    background-color: #fdeadf;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    display: inline-block;
    color: #F17228;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 0.8125rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.5rem;
}
.fore_card{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-block: 5em;
}
@media screen and (max-width: 1200px){
    .hero_text_1::after{
        font-size: 2.48832rem !important;
}
    .hero_pic{
        /* height: fit-content;
        width: fit-content; */
    }
    .hero_img{
        max-width: 80%;
        max-height: 80%;
        transition: all 0.5s ease-in-out;
        margin-top: 20%;
        margin-left: 20%;
}
    .hero_text{
        width: 39vw;
    }
}
@media screen and (max-width:1027px) {
    .nav_menu{
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height:calc(40vh - 3.5rem);
        overflow: auto;
        pointer-events:none ;
        opacity: 0;
        transition: top .4s, opacity .3s;
        padding-inline: 0px;
    }
    .nav_link{
        padding: 1.25rem 1.5em;
        display: flex;
        align-items: center;
        transition: all .3s;
    }
    .nav_list{
        margin-left: -50px;
    }
    .show-menu{
        
        opacity: 1;
        top: 2.5rem;
        pointer-events: initial;
        background-color: white;
    }
    .show-icon .nav_burger{
        opacity: 0;
        transform: rotate(90deg);
    }
    .show-icon .nav_close{
        opacity: 1;
        transform: rotate(90deg);
    }
}

@media screen and (max-width:800px) {
    .hero{
        flex-direction: column-reverse;
        height: 225vh;
        gap: 50px;
    }
    .hero_text{
        text-align: center;
        margin-inline: auto;
        height: 100%;
        width: 100%;
    }
    .hero_text_1::after{
        font-size: calc(1.55498rem + 3.65978vw)
    }
    .hero_card{
        margin-inline: auto;
    }
    .hero_pic{
        margin-inline: auto;
    }
    .hero_img{
        max-width: 100%;
        max-height: 100%;
        margin-inline: auto;
        vertical-align: middle;
        transition: all 0.5s ease-in-out;
    }
    .hero_loc{
        display: block;
        width: 100%;
    }
    .hero_sumbit{
        width: 100%;
        margin-top: 1em;
    }
    .hero_card{
        width: 80%;
    }
}

@media screen and (min-width:1027px) {
    .nav{
        height: auto;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
}
    .nav_toggle{
        display: none;
    }
    .nav_list{
        height:100%;
        display: flex;
        column-gap:3rem ;
    }
}
